# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

# intermediate
*.exp

# symbols
*.pdb
*.ipdb


*.ogg
*.pak
*.tlog
*.log
*.idb
*.ipch
*.opendb
*.db-wal
*.db-shm
*.db
VOXEL_HORIZON/Plugin/GameHook/.vs/GameHook/v17/.suo
*.vsidx
VOXEL_HORIZON/Plugin/bin/GameHook_x64_debug.dll
VOXEL_HORIZON/Plugin/bin/GameHook_x64_debug.lib
VOXEL_HORIZON/Plugin/GameHook/GameHook.vcxproj.user
VOXEL_HORIZON/Plugin/GameHook/GameHook.vcxproj.user
VOXEL_HORIZON/Plugin/GameHook/x64/Debug/GameHook.vcxproj.FileListAbsolute.txt
*.recipe
*.ilk
*.DMP
*.user

