# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

# intermediate
*.exp

# symbols
*.ipdb




*.tlog
*.log
*.idb
*.ipch
*.opendb
*.db-wal
*.db-shm
*.db
VOXEL_HORIZON/App/Data_Pak/*.*
VOXEL_HORIZON/Plugin/GameHook/.vs/GameHook/v17/.suo
*.vsidx
VOXEL_HORIZON/Plugin/bin/GameHook_x64_debug.dll
VOXEL_HORIZON/Plugin/bin/GameHook_x64_debug.lib
VOXEL_HORIZON/Plugin/GameHook/GameHook.vcxproj.user
VOXEL_HORIZON/Plugin/GameHook/GameHook.vcxproj.user
VOXEL_HORIZON/Plugin/GameHook/x64/Debug/GameHook.vcxproj.FileListAbsolute.txt
*.recipe
*.ilk
*.DMP
*.user

VOXEL_HORIZON/App/Dxc/arm64/dxc.pdb
VOXEL_HORIZON/App/Dxc/arm64/dxcompiler.pdb
VOXEL_HORIZON/App/Dxc/arm64/dxil.pdb
VOXEL_HORIZON/App/Dxc/x64/dxc.pdb
VOXEL_HORIZON/App/Dxc/x64/dxcompiler.pdb
VOXEL_HORIZON/App/Dxc/x64/dxil.pdb
VOXEL_HORIZON/App/Dxc/x86/dxc.pdb
VOXEL_HORIZON/App/Dxc/x86/dxcompiler.pdb
VOXEL_HORIZON/App/Dxc/x86/dxil.pdb
VOXEL_HORIZON/App/D3D12/x64/d3dconfig.pdb
VOXEL_HORIZON/App/D3D12/x64/d3d12SDKLayers.pdb
VOXEL_HORIZON/App/D3D12/x64/D3D12Core.pdb
VOXEL_HORIZON/App/D3D12/win32/d3dconfig.pdb
VOXEL_HORIZON/App/D3D12/win32/d3d12SDKLayers.pdb
VOXEL_HORIZON/App/D3D12/win32/D3D12Core.pdb
VOXEL_HORIZON/App/D3D12/arm64/d3dconfig.pdb
VOXEL_HORIZON/App/D3D12/arm64/d3d12SDKLayers.pdb
VOXEL_HORIZON/App/D3D12/arm64/D3D12Core.pdb
VOXEL_HORIZON/App/D3D12/arm/d3dconfig.pdb
VOXEL_HORIZON/App/D3D12/arm/d3d12SDKLayers.pdb
VOXEL_HORIZON/App/D3D12/arm/D3D12Core.pdb
VOXEL_HORIZON/symbols/VHEditor_x64_release.pdb
VOXEL_HORIZON/symbols/ServerManager_x86_release.pdb
VOXEL_HORIZON/symbols/ServerManager_x64_release.pdb
VOXEL_HORIZON/symbols/Server_GAME_x86_release.pdb
VOXEL_HORIZON/symbols/Server_GAME_x64_release.pdb
VOXEL_HORIZON/symbols/Server_CERT_x86_release.pdb
VOXEL_HORIZON/symbols/Server_CERT_x64_release.pdb
VOXEL_HORIZON/symbols/ModelToVoxels_x86_release.pdb
VOXEL_HORIZON/symbols/ModelToVoxels_x64_release.pdb
VOXEL_HORIZON/symbols/BuildPreload_x64_release.pdb
VOXEL_HORIZON/symbols/BuildPreload_x86_release.pdb
VOXEL_HORIZON/symbols/CudaBaker_x64_release.pdb
VOXEL_HORIZON/symbols/DataPacker_x64_release.pdb
VOXEL_HORIZON/symbols/DataPacker_x86_release.pdb
VOXEL_HORIZON/symbols/megayuchiGameEditor_x64_release.pdb
VOXEL_HORIZON/symbols/megayuchiGameEditor_x86_release.pdb
VOXEL_HORIZON/symbols/VHEditor_x86_release.pdb
VOXEL_HORIZON/symbols/UIEditor_x86_release.pdb
VOXEL_HORIZON/symbols/UIEditor_x64_release.pdb
VOXEL_HORIZON/symbols/WebAuth_x86_release.pdb
VOXEL_HORIZON/symbols/Client_x86_release.pdb
VOXEL_HORIZON/symbols/Crypt_x86_release.pdb
VOXEL_HORIZON/symbols/HttpClient_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiCollision_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiDBAccessCLI_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiDBAccessOLEDB_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiFilePack_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiFileStorage_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiGenericLib_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiGeometry_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiImageProcessingLib_x86_release.pdb
VOXEL_HORIZON/symbols/megayuchiLevelEditor_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiMathLib_x86_release.pdb
VOXEL_HORIZON/symbols/megayuchiModelView_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiNET_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiRenderer11_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiRenderer12_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiRenderer12RT_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiSound_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiUI_x86_release.pdb
VOXEL_HORIZON/symbols/MegayuchiVoxelUtil_x86_release.pdb
VOXEL_HORIZON/symbols/RadialDevice_x86_release.pdb
VOXEL_HORIZON/symbols/SWOcclusionTester_avx_x86_release.pdb
VOXEL_HORIZON/symbols/SWOcclusionTester_sse_x86_release.pdb
VOXEL_HORIZON/symbols/SWOcclusionTester_x86_release.pdb
VOXEL_HORIZON/symbols/UIParser_x86_release.pdb
VOXEL_HORIZON/symbols/megayuchiLevelEditor_x64_release.pdb
VOXEL_HORIZON/symbols/megayuchiModelView_x64_release.pdb
VOXEL_HORIZON/symbols/UIParser_x64_release.pdb
VOXEL_HORIZON/symbols/BuildDBVersion_x64_release.pdb
VOXEL_HORIZON/symbols/LocalDB_Init_x64_release.pdb
VOXEL_HORIZON/symbols/LocalDBControl_x64_release.pdb
VOXEL_HORIZON/symbols/CheckLocalDB_x64_release.pdb
VOXEL_HORIZON/symbols/UpdateLocalDB_x64_release.pdb
*.MID
VOXEL_HORIZON/App/Dxc/arm64/dxc.exe
VOXEL_HORIZON/App/Dxc/x64/dxc.exe
VOXEL_HORIZON/App/Dxc/x86/dxc.exe
VOXEL_HORIZON/DLL/CudaBaker_x64_release.dll
